<div class="box-popout"> 
  <a href="javascript:void(0);" class="button-close">&times;</a>
  <a  href="https://rasakoffee.com/products/try-rasa-koffee" class="latest-product-msg">
    <div class="popout-content">
      <figure class="product-image"><img src="{{ 'pop-img.png' | asset_url }}"></figure>
      <div class="popout-text">
        <h3>New to Rasa?</h3>
        <p><span>Our starter pack</span> lets you try all 3 of our products out for 12 servings of calm energy.</p>
      </div>
    </div>
  </a>
</div>

{% comment %}
<div class="box-popout"> 
  <a href="javascript:void(0);" class="button-close">&times;</a>
  <a  href="https://rasakoffee.com/products/try-rasa-koffee" class="latest-product-msg">
    <div class="popout-content">
      <figure class="product-image"><img src="{{ 'IMG_9265_400x400_transparent.png' | asset_url }}"></figure>
      <div class="popout-text">
        <h3>New to Rasa?</h3>
        <p><span>Our starter pack</span> lets you try all 3 of our products out for 12 servings of calm energy.</p>
      </div>
    </div>
  </a>
</div>
{% endcomment %}