<section class="banner-mission">
<figure>
	<img src="{{ 'header_3x.jpg' | asset_url }}">
</figure>
</section>
<section class="hero-mission">
  <div class="container">
    
    <div id="page-nav"></div>
    <div class="page-nav">
      <div class="container">
      <ul>
        <li><a href="#story-dock" data-scroll-speed="600" class="story-trigger">Our Story</a></li>
        <li><a href="#cylinders-dock" data-scroll-speed="600" class="mission-trigger">Our Mission </a></li>
        <li><a href="#" data-scroll-speed="600" id ="sus-hurb-link" class="packaging-trigger">Sustainability</a></li>
        <li><a href="#adaptogens-dock" data-scroll-speed="600" class="adaptogens-trigger">Adaptogens</a></li>
      </ul>
    </div>
    </div>
    <h1>
      <span class="hero-title">
        We’re passionate about changing the way people energize.
      </span>
      <span class="lead">Coffee is wonderful. And, it’s an external source of energy that can be taxing to your adrenals and nervous system in the long run.</span>
      <div class="indicator">
        <a href="#story-dock" data-scroll-speed="600" class="indicator-down">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="12">
            <path fill="none" stroke="#4E686E" stroke-width="4" d="M.12111051 11.6956852L19.4803068 0l19.7138503 11.6956852"/>
          </svg>
        </a>        
      </div>
    </h1>
  </div>
</section>