<style>
  .page-nav.is-fixed { top: 89px; }
  .page-nav a.is-active { color: #6a6a6a !important; }
</style>
<section class="hero-mission">
  <div class="container">
    <figure>
      <img src="{{ 'faq-header.jpg' | asset_url }}">
    </figure>
    <div id="page-nav"></div>
    <div class="page-nav">
      <div class="container">
      <ul>
        <li><a href="#safety" data-scroll-speed="600" data-offset="-160" class="safety-trigger">Safety</a></li>
        <li><a href="#product-info" data-scroll-speed="600" data-offset="-160" class="mission-trigger">Product Info</a></li>
        <li><a href="#brewing" data-scroll-speed="600" data-offset="-160" class="packaging-trigger">Brewing</a></li>
        <li><a href="#shipping" data-scroll-speed="600" data-offset="-160" class="adaptogens-trigger">Shipping & Ordering</a></li>
      </ul>
    </div>
    </div>
  </div>
</section>