{% comment %}V2.1.1 - September 2018
This liquid snippet is used by Discount Ninja, an app from Limoni Apps
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{% endcomment %}

{% include 'limoniapps-discountninja-new-shortcodes' %}
<div class="limoniapps-discountninja-shortcodeplaceholder limoniapps-discountninja-shortcodeplaceholder-cart limoniapps-discountninja-shortcodeplaceholder-cart-bottom" style="display:none;">
  <span class="limoniapps-discountninja-shortcodeplaceholder-left">
    <i class='fa fa-thumbs-up'></i>&nbsp;{{ discountninja_shortcode_percentage }} DISCOUNT ACTIVE - ACT FAST!
  </span>
  <span class="limoniapps-discountninja-shortcodeplaceholder-right">
    <i class='fa fa-clock-o'></i> {{ discountninja_shortcode_timer }}
  </span>
</div>