<section class="section-adaptogens">
  <div id="adaptogens-dock"></div>
  <div class="container">
    <div class="section-content">
      <h2>Adaptogens</h2>
      <p class="lead"><b>Adapto-<i>whats?</i></b></p>
      <p>Adaptogens are Nature’s antidote to stress. These herbs live in harsh conditions around the world, meaning they have not only learned how to be resilient in the face of stress but these badass mofos actually thrive in stressful environments.</p>
      <p>To be characterized as as adaptogen, an herb must meet these 3 criteria:</p>
      <ul>
        <li>It must be safe in normal therapeutic doses</li>
        <li>It must help your body holistically resist a wide variety of stressors</li>
        <li>It must have a normalizing effect on overall body function, helping your body to maintain homeostasis (read: balance, baby!)</li>
      </ul>
    </div> 
    <figure><img src="{{ 'Rasa-Adaptogen-Graph.png' | asset_url }}"><figcaption>Adaptogens & Stress Response</figcaption></figure>
  </div>
</section>