<section class="section-cylinders" >
   <div id="cylinders-dock"></div>
    <div class="container">
      <h2>
        <span class="title">What Gets Us Up in the Morning</span><br>
        <span class="lead">Well, besides the Rasa, that sure helps!<br> At Rasa, there are three main cylinders in our engine:</span>
      </h2>
      <div class="cylinder-cards-container">
        <div class="cylinder-card">
          <figure><a href="#adaptogens-dock" data-scroll-speed="600" class="adaptogens-trigger"><img src="{{ 'reishi-colored-small.png' | asset_url }}"></a></figure>
          <h4>1. Adaptogens</h4>
          <p>We believe adaptogens are Nature’s antidote to the stressors of modern life. It’s no wonder they’re trending—adaptogens are exactly what most of us need! We’re committed to sharing these incredible herbs with the world in the most accessible way possible.</p>
        </div>
        <div class="cylinder-card">
          <figure><img src="{{ 'burdock-root-colored-small.png' | asset_url }}"></figure>
          <h4>2. Energizing from within</h4>
          <p>We believe in energizing from within, and to do that we are disrupting one of the world’s favorite pastimes by making our relationship to coffee a little less dependent and a little more nourishing. We love coffee, but it can actually be quite draining. With the right additions and substitutions, this time-honored ritual will be majorly upgraded in your life.</p>
        </div>
        <div class="cylinder-card">
          <figure><a href="#packaging-dock" data-scroll-speed="600" class="packaging-trigger is-active"><img src="{{ 'chicory-root-colored-small.png' | asset_url }}"></a></figure>
          <h4>3. Sustainability</h4>
          <p>We operate every aspect of our business in the most sustainable, honest, transparent, conscious, high-integrity way we can. We want to do well by you, our planet, the herbs we use, the workers who harvest them, and each other. That’s what it’s all about, isn’t it?</p>
        </div>
      </div>
      <div id="sus-hurb">
      <article>
        <div class="article-content" >
          <h3>Sustainability: Our Herbs</h3>
          <p class="lead">
            <b>When it comes to our herbs, we believe in relationships.</b> Relationships with our growers and wildcrafters, with the regions and cultures our plants call home, and most importantly, with the medicines themselves. Because of this we buy herbs differently than most, resulting in potent, pure, and sustainable product offerings.</p>
          <p>We’re committed to staying 100% organic, continuously improving our sustainability and testing, sourcing directly from traditional growing regions, and promoting quality herbal education with the help of our Resident Herb Nerd Ben LeVine (former sourcing wizard at Celestial Seasonings, pictured here.)   
          </p>
        </div>
        
        <figure>
          
          <figcaption>Ben in the field</figcaption>
        </figure>
        
      </article> 
      </div>
      <!--
      <article>
        <div class="article-content">
          <h3>Let’s Talk About Chaga</h3>
          <p class="lead">
            Chaga is a magical mushroom (no, not <em>that</em> kind), that is becoming increasingly popular for its immune-boosting properties.   
          </p>
          <p>
            However, there’s concern about whether chaga is overharvested. There’s a fair amount of debate about it, and after much research we see that both sides have valid points. Our point is—if there is a concern, why not err on the side of conservative?      
          </p>
          <p>
            That’s why we have switched to using only sustainably harvested chaga mycelium. You'll still receive the vast majority of the benefits offered by wildcrafted chaga (including, actually, higher amounts of 1,3 and 1,6 beta-glucans), but without the long-term environmental toll. 
          </p>
        </div>
        <figure>
          <figcaption>Chaga</figcaption>
        </figure>
      </article> 
      -->
      <hr>
    </div>
  </section>

<script>
	$("#sus-hurb-link").click(function() {
    $('html, body').animate({
        scrollTop: $("#sus-hurb").offset().top - 230
    }, 2000);
});
</script>