<section class="section-packaging">
  <div id="packaging-dock"></div>
  <div class="container">
    <div class="section-content">
      <h2>Sustainability: Compostable Packaging</h2>
      <p><b>We are committed to using only 100% compostable packaging.</b></p>
      <p>We wish this was the industry standard, but...it's not. And after going through the process of getting compostable bags ourselves, we have compassion for brands that give a damn but don't do it! It takes MUCH more time, money, & energy, + many more challenges! As a result, we've had to go through more packaging changes than any small business ever wants to. But we're *committed* & ask you to <b>PLEASE compost your Rasa bags so all our hard work doesn't literally end up in the landfill!</b>!
      <p><b>Rasa bags are compostable at home or in industrial facilities.</b> If your bag has a tin-tie, remove the tin-tie before composting. You can reuse it to tie up loose electrical cords, hang ornaments, train a plant up a trellis...get creative!
    </div> 
    <figure><figcaption></figcaption></figure>
  </div>
</section>