<section class="section-antistress">
  <div class="container">
    <div class="section-content">
      <h2>Energizing from Within with Adaptogens</h2>
      <p>Adaptogens help you to freak out slower (& less intensely!), and recover faster in response to stress…all while increasing stress resilience overall.</p>
      <p>
        These amazing superherbs work through both your hormonal and nervous systems to help your body cope with stress more effectively. This “multiple-pathway action” is known as “network pharmacology,” and is the opposite of pharmaceutical drugs, which are “one drug, one action.”
      </p>
      <p>This is why we have a goal to get more adaptogens into more people by adding them to their go-to stress relievers. They help take it one step further, from just stress relief to true         nourishment.</p>
        <p>So go ahead, take a moment for yourself…have some Rasa and remember, we got you.</p>
    </div> 
  </div>
</section>