<footer class="mission-page-footer">
  <div class="container">
    <div class="footer-content">
      <p class="summary">
        To sum it all up simply:<br> Take adaptogens regularly;<br> <span>Be more awesome.</span>* 
      </p>
      <p class="lead"> 
        This is just the tip of the iceberg!<br> Wanna learn lots more about adaptogens? 
      </p>
      <a href="https://www.facebook.com/groups/627625100927286/?ref=bookmarks" class="button-facebook" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="19.486" height="19.438" viewBox="0 0 19.486 19.438"><path fill="#fff" d="M17.052-.036H2.436C1.09-.036 0 1.054 0 2.394v14.58c0 1.34 1.09 2.43 2.436 2.43h8.09v-7.86H8.75V8.812h1.72c0-.808.008-1.523 0-2.272 0-2.15 1.65-2.774 3.138-2.774h2.505v2.696h-1.452c-.053 0-.938-.047-.938.802.007.347 0 1.542 0 1.542h2.4l-.195 2.688h-2.148v7.913h3.27c1.347 0 2.438-1.087 2.438-2.43V2.397c-.002-1.344-1.093-2.433-2.438-2.433z"/></svg>Join the Adaptofans Facebook Group</a>
    </div> 
    <span class="disclaimer">*Statement not approved by the FDA. They actually really hate it when we talk about awesomeness.</span>
  </div>
</footer>