<section class="section-story" id="story">
  <div id="story-dock"></div>
  <div class="container">
    <div class="content-scrolling">
      <h2>How It All Started</h2>
      <p>
        It was late 2015. My first son was 4 months old, and the sleepless nights were wearing me thin. I was desperate for a solution, but knew that coffee hurt my belly, made me feel acidic, AND contributed to anxiety and sleeplessness.  
      </p>
      <p>
        I searched for something that would help me cope with the stress of motherhood and life, while nourishing my body.  I tried every coffee alternative I could get my hands on, but nothing hit the spot. Some coffee alternatives were healthy, but tasted gross.     
      </p>

      <ul>
        <li>Some had cacao, which actually has caffeine. I wanted a fully caffeine-free option.</li>
        <li>Some were caffeine-free, but had “natural flavors.” No thanks.</li>
        <li>And some tasted good and were caffeine free, but weren't packed with the health benefits I was seeking.</li>
      </ul>
      <div class="content-pinned mobile">
      <div class="image-card">
        <div class="image-card-content">
          <h3>The Best Modern Life Support</h3>
          <ul class="image-card-list">
            <li>provides energy without caffeine</li>
            <li>is jam-packed with <br> health benefits </li>
            <li>tastes GREAT</li>
          </ul>
        </div>
        <figure></figure>
      </div>
    </div>
      <blockquote>
        <p>I knew we could do WAY better than this, and decided to create a delicious coffee alternative.</p>
      </blockquote>
      <p style="position: relative;">
        A herbalist friend of mine and I got together and crafted a dark, rich, and roasty coffee alternative, loaded with adaptogens. We tested our herbal coffee on some coffee-lovers at a Thanksgiving dinner—they were in love! And so Rasa Koffee was born.<br> <span class="heart"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
    <text fill="#373737" fill-rule="evenodd" font-family="AppleColorEmoji, Apple Color Emoji" font-size="16" letter-spacing="-.192" transform="translate(-105 -1645)">
        <tspan x="105" y="1662">💛</tspan>
    </text>
</svg>,</span>   
      </p>
      <div class="author-container">
        <span>Lopa van der Mersch, Founder & CEO</span>
      </div> 
    </div>
    <div class="content-pinned" id="pinned-box">
      <div class="image-card">
        <div class="image-card-content">
          <h3>The Best Modern Life Support</h3>
          <ul class="image-card-list">
            <li>provides energy without caffeine</li>
            <li>is jam-packed with <br> health benefits </li>
            <li>tastes GREAT</li>
          </ul>
        </div>
        <figure></figure>
      </div>
    </div>
  </div>
</section>