<section class="section-ingredients" id="depth-4"> 
    <div class="container">
    <div class="content-parallax">
      <figure>        
        <img class="img-over" src="{{ 'rasa-lopa-story.jpg' | asset_url }}" alt="Rasa Coffee Alternative Story">
      </figure>
    </div>

      <div class="content-scrolling">
        <h2>You’ve got this & we’ve got you 🙌</h2>
        <p class="lead">
We believe in sourcing energy from within, and adaptogens are Nature’s key to sustained, balanced energy all day long.
        </p>
        <p>
Coffee is great, but it’s an external source of energy that is  taxing to your adrenals and nervous system in the long run. Our culture’s #1 support tool for a worn-out life takes from us, too. That’s why we set out to create an alternative that  energizes AND nourishes.

        </p>
   
        <p>
You can still have your coffee with Rasa! Or with cacao…or in an adaptogenic latte. However it fits into YOUR life. You’ll feel energized & nourished, not one or the other!

        </p>
      <p>
        <a href="/pages/mission" class="button-red">Learn More</a>
      </p>
      </div>
    
</div>
</section>