{% assign products_per_page = settings.products_per_row | times: settings.number_of_rows %}
{% assign products_per_row = settings.products_per_row | minus: 1 %}
{% assign products_per_row = numbers[products_per_row] | strip | append: '-per-row' %}

{% paginate blog.articles by 3 %}

<section class="section-archive" id="news">
  <div class="container">
	  <h2 class="newstitle">Notes from the Rasa Family</h2>
  </div>


  {% include 'blog-nav' %}
  {% include 'blog-grid' %}
  
</section>

{% if paginate.pages > 1 %}
<div class="pagination">
{{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
{% endif %}

{% endpaginate %}