<div class="page-width-new text-right small--hide">
  <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top">
    <span>search</span> <img src="{{ 'Asset_4.png' | asset_url }}">
    <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
  </button>
</div>
{% schema %}
  {
    "name": "Section name",
    "class": "search-section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
