nav div.nav-user .container {
    display: flex;
    align-items: center;
}
.nav-user .container > div {
    flex: 0 0 33.3333%;
}
.header-search-bar form input:-webkit-autofill,
.header-search-bar form input:-webkit-autofill:hover, 
.header-search-bar form input:-webkit-autofill:focus, 
.header-search-bar form input:-webkit-autofill:active{
  -webkit-text-fill-color:-webkit-box-shadow: 0 0 0 30px white inset !important;
}
#account .header-search-bar input:not(.btn), #addresses .header-search-bar input:not(.btn), #your-shopping-cart .header-search-bar input[type=number], #your-shopping-cart .header-search-bar input[type=text]{
  border:none;
}
.header-search-bar form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 220px;
}
.header-search-bar form input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    width: 35px;
    visibility: hidden;
}
.header-search-bar form input[type="text"] {
    color: #fff;
    margin-bottom: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #fff!important;
    border-radius: 0;
    opacity: 1;
    height: 35px;
    padding: 0;
    text-indent: 2px;
    -webkit-appearance: none;
}
.header-search-bar form input[type="text"]:focus{
  background-color: transparent;
  color: #fff;
}
.header-search-bar form:before {
    content: "\f002";
    font-family: fontawesome;
    width: 35px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0px;
    color: #fff;
    background-color: #17a7a1;
}
div.nav-user .discount-txt{
  text-align:center;
}
div#addtc-sticky-cart {
    display: none;
}
#cart_drawer .cart_drawer{
  max-width:420px;
  box-sizing:border-box;
}
div#cart_drawer.cart_drawer_main.drawer-open{
  right:0;
      z-index: 99999;
}
.addc {
    padding: 10px 15px;
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
    text-transform: uppercase;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.addc:hover {
      background: #008b8f !important;
    }
.col-variants {
    background: #17a7a1;
    border: 1px solid #fff;
    padding: 6px 5px;
    margin-bottom:0;
    margin-top: 10px;
    width: 100%;
    
}

.template-index .grid-shop .container .shop-item-home,.template-index .grid-shop.home-grid .container .shop-item-home:first-child, .template-index .grid-shop .container .shop-item-home:last-child{
  margin:0;
  padding:0 0;
  width:33.3333%;
  padding-left:25px;
  padding-right:25px;
  top:0;
}

/* #your-shopping-cart input[type=number]::-webkit-inner-spin-button, 
#your-shopping-cart input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 
 
#your-shopping-cart input[type=number]:focus::-webkit-inner-spin-button, 
#your-shopping-cart input[type=number]:focus::-webkit-outer-spin-button, 
#your-shopping-cart input[type=number]:hover::-webkit-inner-spin-button, 
#your-shopping-cart input[type=number]:hover::-webkit-outer-spin-button { 
    -webkit-appearance: inner-spin-button; 
    margin: 0 2px 0 0 ; 
} 


#your-shopping-cart input[type=number] { 
    -moz-appearance:textfield; 
} 

#your-shopping-cart input[type=number]:focus, 
#your-shopping-cart input[type=number]:hover { 
    -moz-appearance:number-input; 
} */
/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

} */
#your-shopping-cart input[type=number]::-webkit-outer-spin-button,
#your-shopping-cart input[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: inner-spin-button !important;
}

@media(max-width:768px){
  .nav-cont .mobile-cart{
    right:0;
  }
  nav#top {
    padding: 16px 0;
}
  body .logotype, .blog-nav .title-logo {
    height: 31px;
    width: 107px;
    display: inline-block;
    background-size: contain;
    position: relative;
    top: -3px;
    left: -9px;
    background-position:center;
}
  .nav-main .container.nav-cont {
    margin-top: 0 !important;
}
  .nav-cont #nav-trigger{
    right: auto;
    left: 0;
  }
  .nav-main .container.nav-cont .menu-button{
    right:54px!important;
  }
  .nav-main .nav-cont .nav-logo{
    left:50%;
    transform:translate(-50%);
  }
  .newgrid .container > .shop-item-home {
    width: 50%;
    padding: 0 15px;
    margin: 1.5em 0;
    box-sizing: border-box;
}
  .newgrid .container {
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
  .header-search-bar.desktop-version-hide form input[type="text"] {
    border-bottom: 1px solid #f2f2f2 !important;
}
}
@media(max-width:590px){
    #cart_drawer .cart_drawer{
      max-width: 300px;
    }
  .template-index .grid-shop .container .shop-item-home, .template-index .grid-shop.home-grid .container .shop-item-home:first-child, .template-index .grid-shop .container .shop-item-home:last-child{
    width:100%;
    top:0em;
  }
  .nav-main .nav-cont .nav-logo {
    left: 50%;
}
}


@media(max-width:480px){
.nav-main .container.nav-cont .menu-button {
    right: 48px!important;
    font-size: 12px;
    padding: 16px 14px;
    line-height: 0;
    height: auto;
    top: 5px;
    margin-right: 5px;
}
.cart-right  input[type="submit"], .cart-right input.carthook_checkout {
    width: 100%;
}
  
.cart-right  span.or {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
  .nav-main .nav-cont .nav-logo {
    left: 50%;
}
.nav-cont .mobile-cart {
    font-size: 18px !important;
    top: 5px;
}
  #nav-trigger span:before {
    top: -8px;
}#nav-trigger span:after {
    bottom: -8px;
}
  #nav-trigger span, #nav-trigger span:before, #nav-trigger span:after{
    height:3px;
  }
  .newgrid .container > .shop-item-home{
    width:100%;
  }
}
@media(max-width:365px){
  body .logotype, .blog-nav .title-logo {
    width: 88px;
    left: -15px;
}
  .nav-main .container.nav-cont .menu-button {
    top: 2px;
}
  .nav-main .container.nav-cont a.nav-logo {
    margin-top: -3px;
}
  .nav-cont .mobile-cart {
    font-size: 18px !important;
    top: 2px;
}
}

.cart_drawer_items h3.item_title p {
  font-size: 16px !important;
}

.cart_drawer_items h3.item_title {
  font-size: 16px !important;
  line-height: 25px !important;
  color: #000 !important;
}