<!-- sh_sub-added -->
{% include 'sh_sub-collection-snippet' %}
<!-- /sh_sub-added -->
<section class="hero-shop">
  <div class="container">
    <h1>
      Shop Rasa 
    </h1>
    <p class="lead">
      There's a reason people keep calling Rasa "The Best Coffee Alternative Out There." We've brought together 12 all-star herbs that are all really, really, really good for you. 7 adaptogens, 2 shrooms, 50% prebiotics...all from Ayurveda, Chinese medicine, and Western herbalism. Rasa is a dark, roasty, flavorful, nutritious brew with a hint of cinnamon that you can savor all day long because it is caffeine free.
    </p>
  </div>
</section>
<section class="grid-shop">
  <div class="container">

     {% for product in collections.bestsellers.products %}
      {%- comment %}<locksmith:0608>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections.bestsellers, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:0608>{% endcomment -%}
      {% include 'product-grid-item' with products_per_row %}
    {% else %}
      <p>There are no products in this view.</p>
    {% endfor %}
  </div>
</section>