{% include 'collection-listing' %}

{% comment %}
<!-- Alternatively, if not using a snippet, use the code below. 
To use the code below, get rid of the above 'include', and get rid of the comment tags, and you're in business. -->
<section class="hero-shop">
  <div class="container">
<h1>Collections</h1>
  </div></section>

<div class="shopmenu">
  <div class="container">
{% for link in linklists.collections-menu.links %}{% include 'easylockdown_filter_collections' with l %}
  <a href="{{ link.url }}">{{ link.title }}</a>
{% endfor %}
  </div>
</div>

<section class="newgrid">
	{% paginate collection.products by 12 %}

  <div class="container">
     {% for product in collection.products %}{% include 'easylockdown_filter_collection' with product %}
      {% include 'product-grid-item' with products_per_row %}
    {% else %}
      <p>Amazing products coming your way, stay tuned!</p>
    {% endfor %}
  </div>
  <div class="newpaginate">
    {{ paginate | default_pagination }}
  </div>
    {% endpaginate %}

</section>

{% endcomment %}
