{% include 'collection-listing' %}

{% comment %}
<!-- Alternatively, if not using a snippet, use the code below. 
To use the code below, get rid of the above 'include', and get rid of the comment tags, and you're in business. -->
<section class="hero-shop">
  <div class="container">
<h1>Collections</h1>
  </div></section>

<div class="shopmenu">
  <div class="container">
{% for link in linklists.collections-menu.links %}{%- comment %}<locksmith:5ced>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.collections-menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:5ced>{% endcomment -%}{% include 'easylockdown_filter_collections' with l %}
  <a href="{{ link.url }}">{{ link.title }}</a>
{% endfor %}
  </div>
</div>

<section class="newgrid">
	{% paginate collection.products by 12 %}

  <div class="container">
     {% for product in collection.products %}{%- comment %}<locksmith:6c75>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:6c75>{% endcomment -%}{% include 'easylockdown_filter_collection' with product %}
      {% include 'product-grid-item' with products_per_row %}
    {% else %}
      <p>Amazing products coming your way, stay tuned!</p>
    {% endfor %}
  </div>
  <div class="newpaginate">
    {{ paginate | default_pagination }}
  </div>
    {% endpaginate %}

</section>

{% endcomment %}
